<h1>Listing Transactions</h1>
 
<table>
  <tr>
    <th>#</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>
 
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.created_at %></td>
      <td><%= transaction.updated_at %></td>
      <td><%= link_to 'Show', transaction_path(transaction) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @transactions %>