<p>
  <strong>Member:</strong>
  <%= link_to @transaction.member.name, user_path(@transaction.member) %>
</p>
 
<p>
  <strong>Book:</strong>
  <%= link_to @transaction.book.title, book_path(@transaction.book) %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @transaction.due_date %>
</p>

<%= link_to 'Back', transactions_path %>