<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<p>
  <strong>Books:</strong>
  <ul>
    <% @publisher.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', books_publishers_path %>